* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{

    width: 100%; /** largura**/
    min-height: 100vh; /** altura principal **/
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /** jogando todo o conteudo do body para o centro **/

}

.instagram-wrapper { /** primeiro container que deixa o celular e o login no meio da tela**/
    display: flex; /** vai alinhar tudo em linha, ocupando o espaço necessário dentro do container**/
    align-items: center; /** o alinhamento vertical dos itens, no eixo Y ficar no centro**/
    justify-content: start; /** no eixo X, que seria em linha, ele vai ficar justificado iniciando da esquerda para direita**/
    width: 60%; /** altura do container em 60% do body**/
    height: 100vh;

}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /** está na horizontal, X**/
    justify-content: space-around; /** está agora na vertical, Y**/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}


.group:nth-child(1){ /** seleciona o primeiro group, ja que temos 2, vai na ordem**/
    min-width: 19rem;
}

.intagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /** para a imagem não exceder **/
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.intagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);

}

.link-blue{
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./Apple.png');
}

.app-download:nth-child(2){
    background-image: url('./Google.png');
}

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px) {
    body{
        background-color: white;
    }
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone {
        display: none;
    }
    .instagram-continue {
        width: 100%;
    }
    .group{
        border: 1px solid transparent;
    }
}